{% extends "/bootstrap/base.html" %}
{% block title %}U Connect Customer Login{% endblock %}
{% block header %}Sign In As Customer{% endblock %}
{% block content %}
			<form class="login100-form validate-form" action="/customer/login" method="post">
				<div class="wrap-input100 validate-input m-b-26" data-validate="User ID is required">
					<span class="label-input100">User ID</span>
					<input class="input100" type="text" name="userID" placeholder="Enter user ID" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
					<span class="label-input100">Password</span>
					<input class="input100" type="password" name="password" placeholder="Enter password" required>
					<span class="focus-input100"></span>
				</div>

				<div class="flex-sb-m w-full p-b-30">
					<div>
						<a href="/customer/forgotPassword" class="txt1">
							Forgot Password?
						</a>
					</div>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Login
					</button>
				</div>
			<br>
			{% if status == 'fail' %}
			Your userid or password is not correct.
			{% endif %}				
			</form>	
			<div class="container-login100-form-btn">
				<input class="login100-form-btn" type="button" value="Back" onclick="history.back()"> 
			</div>
{% endblock %}
