{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Home{% endblock %}
{% block header %}Chin Hong Engineering Limited{% endblock %} 
{% block content %}
{% for info in user%}
<div class="background-box-pink">
    <p>
        <h4 class="text">Welcome back to U Connect!</h4>
        <h5>{% if role=='Admin'%}Hi, {{info.Name}}!{% endif %}
            {% if role=='Normal'%}Hi, {{info.Name}}!{% endif %}
            {% if role=='Customer'%}Hi, {{info.CompanyName}}!{% endif %}
        </h5> <br>
        <h5>Ready to start your day with U Connect? ^.^</h5>
    </p>
</div>
<div class="background-box-yellow">
    <h4>YOUR UPCOMING ACTIVITIES<br></h4>
    <table id="myTable" class="table-sort table-arrows">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Project</th>
                <th>Customer</th>
                <th>Location</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        {% for data in activity%}
        <tr>
            <td>{{data.ActivityID}} - {{data.ActivityName}} 
                <span>{% if role=='Admin'%}<a href="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/view">{% endif %}{% if role=='Normal'%}<a href="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/view">{% endif %}{% if role=='Customer'%} <a href="/customer/{{info.CustomerID}}/activity/{{data.ActivityID}}/view">{% endif %} 
                
                <i class='bx bxs-notepad' ></i></a></span> 
            </td>
            <td>{{data.ProjectID}} - {{data.ProjectName}} 
                <span>{% if role=='Admin'%}<a href="/staff/{{info.UserID}}/project/{{data.ProjectID}}/view">{% endif %}{% if role=='Normal'%}<a href="/staff/{{info.UserID}}/project/{{data.ProjectID}}/view">{% endif %}{% if role=='Customer'%} <a href="/customer/{{info.CustomerID}}/project/{{data.ProjectID}}/view">{% endif %} 
                
                <i class='bx bxs-notepad' ></i></a></span></td>
            <td>{{data.CustomerID}} - {{data.CompanyName}} 
                <span>{% if role=='Admin'%}<a href="/staff/{{info.UserID}}/customer/{{data.CustomerID}}/view">{% endif %}{% if role=='Normal'%}<a href="/staff/{{info.UserID}}/customer/{{data.CustomerID}}/view">{% endif %}{% if role=='Customer'%} <a href="/customer/{{info.CustomerID}}/customer/{{data.CustomerID}}/view">{% endif %} 
                
                <i class='bx bxs-notepad' ></i></a></span></td>
            <td>{{data.ActivityLocation}}</td>
            <td>{{data.ActivityStatus}}</td>
            <td>{{data.ActivityStartDate}}</td>
            <td>{{data.ActivityEndDate}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if role=='Customer'%}
<div class="background-box-yellow">
    <p>
        <h2>Quotation <br></h2>
        <table id="myTable" class="table-sort table-arrows">
            <thead>
                <tr>
                    <th>Quotation</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Quotation Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for data in quote%}
            <tr>
                <td>{{data.QuotationID}} - {{data.QuotationTitle}}</td>
                <td>{{data.ProjectID}} - {{data.ProjectName}} - {{data.ProjectStatus}}</td>
                <td>{{data.QuotationStatus}}</td>
                <td>{{data.QuotationDate}}</td>
                <td>
                    <span><a href="/customer/{{info.CustomerID}}/quote/{{data.QuotationID}}/view"><i class='bx bxs-notepad' ></i></a></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </p>
</div>

<div class="background-box-yellow">
    <p>
        <h2>Invoice <br></h2>
        <table id="myTable" class="table-sort table-arrows">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for data in invoice%}
            <tr>
                <td>{{data.InvoiceID}} - {{data.InvoiceTitle}}</td>
                <td>{{data.ProjectID}} - {{data.ProjectName}} - {{data.ProjectStatus}}</td>
                <td>{{data.InvoiceStatus}}</td>
                <td>{{data.DueDate}}</td>
                <td>
                    <span><a href="/customer/{{info.CustomerID}}/invoice/{{data.InvoiceID}}/view"><i class='bx bxs-notepad' ></i></a></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </p>
</div>

<div class="background-box-yellow">
    <p>
        <h5>
            Company Name: {{info.CompanyName}}<br>
            Employee Number: {{info.CustomerID}}<br>
            Billing Address: {{info.BillingAddress}} <br>
            Primary Address: {{info.PrimaryAddress}} <br> <br>
            First Contact Person: <br>
            Name: {{info.ContactPerson}}<br>
            Phone Number: {{info.PhoneNo}} <br>
            Email: {{info.Email}} <br>
        </h5>
    </p>
</div>
{% endif %}
{% if role=='Admin' or role=='Normal' %}
<div class="background-box-yellow">
    <p>
        <h5>
            {{info.Name}}<br>
            Employee Number: {{info.UserID}}<br>
            Phone Number: {{info.PhoneNo}} <br>
            Email: {{info.Email}} <br>
            Role: {{info.Role}}
        </h5>
    </p>
</div>
{% endif %} 
{% endfor %}
{% endblock %}
