{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Add Inventory{% endblock %}
{% block header %}Add Inventory{% endblock %} 
{% block content %}
{% for info in user%}
<h5>
    <form action="/staff/{{info.UserID}}/addInventory" method="post" enctype="multipart/form-data">
    <div class="fill-in">
        <div class="background-box-yellow">
            <p> 
                <h2>INVENTORY DETAILS<br></h2>
                    <label for="InventoryName">Inventory Name</label>
                    <input type="text" name="InventoryName" required /> <br>
                    <label for="Description">Description</label>
                    <input type="text" name="Description" required /> <br>
                    <label for="Stock">Stock</label>
                    <input type="number" name="Stock" required /> <br>
                    <label for="Attachment">Upload Document</label>
                    <input type="file" name="Attachment"  required> <br>
            </p>
        </div>
        <br>
        <br> 
        <input type="submit" value="Submit" /> <br>
        <input type="button" value="Back" onclick="history.back()">         
    </div>
    </form>
</h5>

{% endfor %}
{% endblock %}
