{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}View Project{% endblock %}
{% block header %}View Project{% endblock %} 
{% block content %}
{% for info in user%}
{% for data in project%}
<h5>
    <div class="fill-in">
        <div class="background-box-yellow">
            <p>
                <h2>CUSTOMER DETAILS <br></h2>
                <label for="CustomerID">Customer</label>
                    {{data.CustomerID}} - {{data.CompanyName}} - {{data.ContactPerson}}
                    <span>{% if role=='Admin'%}<a href="/staff/{{info.UserID}}/customer/{{data.CustomerID}}/view">{% endif %}{% if role=='Normal'%}<a href="/staff/{{info.UserID}}/customer/{{data.CustomerID}}/view">{% endif %}{% if role=='Customer'%} <a href="/customer/{{info.CustomerID}}/customer/{{data.CustomerID}}/view">{% endif %} 
                    <i class='bx bxs-notepad' ></i></a></span>
                </select><br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>PROJECT DETAILS<br></h2>
                    <label for="ProjectID">Project ID</label>
                    {{data.ProjectID}} <br>
                    <label for="ProjectName">Project Name</label>
                    {{data.ProjectName}} <br>
                    <label for="Description">Description</label>
                    {{data.Description}} <br>
                    <label for="Location">Location</label>
                    {{data.Location}} <br>
                    <label for="ProjectAttachment">Upload Document</label>
                    {{data.ProjectAttachment}} 
                    <a href="https://fionafypstorageaccount.blob.core.windows.net/project/{{data.ProjectAttachment}}" target="_blank"><i class='bx bxs-download' ></i></a><br>

                    <!-- 
                    {% if role=='Admin'%}<a href="/staff/{{info.UserID}}/project/{{data.ProjectID}}/download" target="_blank">{% endif %}{% if role=='Normal'%}<a href="/staff/{{info.UserID}}/project/{{data.ProjectID}}/download" target="_blank">{% endif %}{% if role=='Customer'%} <a href="/customer/{{info.CustomerID}}/project/{{data.ProjectID}}/download" target="_blank">{% endif %} 
                    
                    <i class='bx bxs-download' ></i></a> 
                    -->
                    <label for="ProjectStatus">Project Status</label>
                    {{data.ProjectStatus}} <br>
                    <label for="ClosedBy">Closed By</label>
                    {{data.ClosedBy}} <br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>PROJECT PERIOD<br></h2>
                    <label for="StartDate">Start Date</label>
                    {{data.StartDate}} <br>
                    <label for="EndDate">End Date</label>
                    {{data.EndDate}} <br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>Warranty Period<br></h2>
                    <label for="WarrantyStart">Warranty Start</label>
                    {{data.WarrantyStart}} <br>
                    <label for="WarrantyEnd">Warranty End</label>
                    {{data.WarrantyEnd}} <br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>Quotation and Invoice<br></h2>
                    <label for="TotalAmount">Confirmed Quotation Amount</label>
                    {{data.TotalAmount}} <br>
                    <label for="Invoiced">Invoiced Amount</label>
                    {{data.Invoiced}} <br>
                    <label for="AmountReceived">Amount Received</label>
                    {{data.AmountReceived}} <br>
            </p>
        </div>    
    </div>
    <div class="background-box-yellow">
        <p>
            <h2>ACTIVITY DETAILS<br></h2>
            <table id="myTable" class="table-sort table-arrows">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for data in activity%}
                <tr>
                    <td>{{data.ActivityID}} - {{data.ActivityName}}</td>
                    <td>{{data.ActivityLocation}}</td>
                    <td>{{data.ActivityStatus}}</td>
                    <td>{{data.ActivityStartDate}}</td>
                    <td>{{data.ActivityEndDate}}</td>
                    <td>
                        <span>{% if role=='Admin'%}<a href="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/view">{% endif %}{% if role=='Normal'%}<a href="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/view">{% endif %}{% if role=='Customer'%} <a href="/customer/{{info.CustomerID}}/activity/{{data.ActivityID}}/view">{% endif %} 
                            
                        <i class='bx bxs-notepad' ></i></a></span>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </p>
    </div>
    <input type="button" value="Back" onclick="history.back()"> 
</h5>
{% endfor %}
{% endfor %}
{% endblock %}
