{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Add Project{% endblock %}
{% block header %}Add Project{% endblock %} 
{% block content %}
{% for info in user%}
<h5>
    <form action="/staff/{{info.UserID}}/addProject" method="post" enctype="multipart/form-data">
    <div class="fill-in">
        <div class="background-box-yellow">
            <p>
                <h2>CUSTOMER DETAILS <br></h2>
                <label for="CustomerID">Select Customer</label>
                <select name="CustomerID" id="CustomerID">
                  {% for data in customer %}
                    <option value="{{data.CustomerID}}">{{data.CustomerID}} - {{data.CompanyName}} - {{data.ContactPerson}}</option>
                  {% endfor %} 
                </select><br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>PROJECT DETAILS<br></h2>
                    <label for="ProjectName">Project Name</label>
                    <input type="text" name="ProjectName" required /> <br>
                    <label for="Description">Description</label>
                    <input type="text" name="Description" required /> <br>
                    <label for="Location">Location</label>
                    <input type="text" name="Location" required /> <br>
                    <label for="ProjectAttachment">Upload Document</label>
                    <input type="file" name="ProjectAttachment"  required> <br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>PROJECT PERIOD<br></h2>
                    <label for="StartDate">Start Date</label>
                    <input type="date" name="StartDate" required/> <br>
                    <label for="EndDate">End Date</label>
                    <input type="date" name="EndDate" required/> <br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>Warranty Period<br></h2>
                    <label for="WarrantyStart">Warranty Start</label>
                    <input type="date" name="WarrantyStart" /> <br>
                    <label for="WarrantyEnd">Warranty End</label>
                    <input type="date" name="WarrantyEnd" /> <br>
            </p>
        </div>
        <br>
        {% if status == 'phoneNodup' %}
        The first contact person phone number duplicated. Please use another phone number. Thank you!
        {% endif %}
        {% if status == 'emaildup' %}
        The first contact person email duplicated. Please use another email. Thank you!
        {% endif %}
        {% if status == 'invalidConfirmPassword' %}
        The confirm password is not same with the password. Please try again. Thank you!
        {% endif %}
        <br> 
        <input type="submit" value="Submit" /> <br>
        <input type="button" value="Back" onclick="history.back()">         
    </div>
    </form>
</h5>

{% endfor %}
{% endblock %}
