{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Quotes{% endblock %}
{% block header %}Quotes{% endblock %} 
{% block content %}
{% for info in user%}
<div class="buttons">
    <button type="button" onclick="window.location.href='/staff/{{info.UserID}}/addQuote'">+ Quote</button>
</div>
<div class="background-box-yellow">
    <p>
        <input type="text" id="myInput" onkeyup="filtering(0)" placeholder="Search for quotation.." title="Type in a name">
        <table id="myTable" class="table-sort table-arrows">
            <thead>
                <tr>
                    <th>Quotation</th>
                    <th>Project</th>
                    <th>Customer</th>
                    <th>Status</th>
                    <th>Quotation Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for data in quote%}
            <tr>
                <td>{{data.QuotationID}} - {{data.QuotationTitle}}</td>
                <td>{{data.ProjectID}} - {{data.ProjectName}} <br> {{data.ProjectStatus}}</td>
                <td>{{data.CustomerID}} - {{data.ContactPerson}}<br>{{data.CompanyName}}</td>
                <td>{{data.QuotationStatus}}</td>
                <td>{{data.QuotationDate}}</td>
                <td>
                    <span><a href="/staff/{{info.UserID}}/quote/{{data.QuotationID}}/view"><i class='bx bxs-notepad' ></i></a></span> |
                    <span><a href="/staff/{{info.UserID}}/quote/{{data.QuotationID}}/edit"><i class='bx bxs-edit-alt' ></i></a></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </p>
</div>
{% endfor %}
{% endblock %}