{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Profile Edit{% endblock %}
{% block header %}Profile Edit{% endblock %} 
{% block content %}
{% for info in user%}
<div class="background-box-yellow"> 
    <p>
        <h5>
            <div class="fill-in">
                <form action="/staff/{{info.UserID}}/profileEdit" method="post">
                    <label for="accType" id="accType">Account type</label> 
                    {{info.Role}}<br>
                    <label for="name">Name</label>
                    <input type="text" name="name" required value="{{info.Name}}"/> <br>
                    <label for="phoneNo">Phone Number</label>
                    <input type="tel" name="phoneNo" required value="{{info.PhoneNo}}"/> <br>
                    <label for="email">Email</label>
                    <input type="email" name="email" required value="{{info.Email}}"/> <br>
                    <label for="password">Password</label>
                    <input type="password" name="password" required value="{{info.Password}}"/> <br>
                    <input type="submit" class="btn bg-gradient-primary mt-4" value="Submit" /> <br>
                </form>
                {% if status == 'phoneNodup' %}
                The phone number duplicated. Please use another phone number. Thank you!
                {% endif %}
                {% if status == 'emaildup' %}
                The email duplicated. Please use another email. Thank you!
                {% endif %}
                {% if status == 'success' %}
                Edit successfully. Thank you!
                {% endif %}
        </h5>
    </p>
</div>
{% endfor %}
{% endblock %}
