{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Home{% endblock %}
{% block header %}Profile Creation{% endblock %} 
{% block content %}
{% for info in user%}
<div class="background-box-yellow">
    <p>
        <h5>
            <div class="fill-in">
                <form action="/staff/{{info.UserID}}/profileCreation" method="post">
                    <label for="accType" id="accType">Choose a account type</label>
                    <select id="accType" name="accType">
                        <option value="Admin">Admin</option>
                        <option value="Normal">Normal</option>
                    </select> <br>
                    <label for="name">Name</label>
                    <input type="text" name="name" required /> <br>
                    <label for="phoneNo">Phone Number</label>
                    <input type="tel" name="phoneNo" required /> <br>
                    <label for="email">Email</label>
                    <input type="email" name="email" required /> <br>
                    <label for="password">Password</label>
                    <input type="password" name="password" required /> <br>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" required /> <br>
                    <input type="submit" class="btn bg-gradient-primary mt-4" value="Submit" /> <br>
                </form>
            </div>
                {% if status == 'phoneNodup' %}
                The phone number duplicated. Please use another phone number. Thank you!
                {% endif %}
                {% if status == 'emaildup' %}
                The email duplicated. Please use another email. Thank you!
                {% endif %}
                {% if status == 'invalidConfirmPassword' %}
                The confirm password is not same with the password. Please try again. Thank you!
                {% endif %}
                {% if status == 'success' %}
                Created successfully. Thank you!
                {% endif %}
        </h5>
    </p>
</div>
{% endfor %}
{% endblock %}
