{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Add Activity{% endblock %}
{% block header %}Add Activity{% endblock %} 
{% block content %}
{% for info in user%}
<h5>
    <form action="/staff/{{info.UserID}}/addActivity" method="post">
    <div class="fill-in">
        <div class="background-box-yellow">
            <p>
                <h2>PROJECT DETAILS <br></h2>
                <label for="ProjectID">Select Project</label>
                <select name="ProjectID" id="ProjectID">
                  {% for data in project %}
                    <option value="{{data.ProjectID}}">{{data.ProjectID}} - {{data.ProjectName}} - {{data.ProjectStatus}}</option>
                  {% endfor %} 
                </select><br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>ACTIVITY DETAILS<br></h2>
                    <label for="ActivityName">Activity Name</label>
                    <input type="text" name="ActivityName" required /> <br>
                    <label for="ActivityDescription">Description</label>
                    <input type="text" name="ActivityDescription" required /> <br>
                    <label for="ActivityLocation">Location</label>
                    <input type="text" name="ActivityLocation" required /> <br>
                    <label for="ActivityStartDate">Start Date</label>
                    <input type="date" name="ActivityStartDate" required /> <br>
                    <label for="ActivityEndDate">End Date</label>
                    <input type="date" name="ActivityEndDate" required /> <br>
            </p>
        </div>
        <br>
        <input type="submit" value="Submit" /> <br>
        <input type="button" value="Back" onclick="history.back()">         
    </div>
    </form>
</h5>

{% endfor %}
{% endblock %}
