{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Add Quote{% endblock %}
{% block header %}Add Quote{% endblock %} 
{% block content %}
{% for info in user%}
<h5>
    <form action="/staff/{{info.UserID}}/addQuote" method="post">
    <div class="fill-in">
        <div class="background-box-yellow">
            <p>
                <h2>PROJECT DETAILS <br></h2>
                <label for="ProjectID">Select Project</label>
                <select name="ProjectID" id="ProjectID">
                  {% for data in project %}
                    <option value="{{data.ProjectID}}">{{data.ProjectID}} - {{data.ProjectName}} - {{data.ProjectStatus}}</option>
                  {% endfor %} 
                </select><br>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>QUOTATION DETAILS<br></h2>
                    <label for="QuotationTitle">Quotation Title</label>
                    <input type="text" name="QuotationTitle" required /> <br>
                    <label for="ToField">To</label>
                    <input type="text" name="ToField" required /> <br>
                    <label for="Attn">Attn</label>
                    <input type="text" name="Attn" required /> <br>
                    <label for="Remarks">Remarks</label>
                    <input type="text" name="Remarks" required /> <br>
            </p>
        </div>
        {% if status == 'Invalid Status' %}
        The project status is not equal to "Pending for Quotation".
        {% endif %} 
        <br>
        <input type="submit" value="Submit" /> <br>
        <input type="button" value="Back" onclick="history.back()">         
    </div>
    </form>
</h5>

{% endfor %}
{% endblock %}
