{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Projects{% endblock %}
{% block header %}Projects{% endblock %} 
{% block content %}
{% for info in user%}
<div class="buttons">
    <button type="button" onclick="window.location.href='/staff/{{info.UserID}}/addProject'">+ Project</button>
</div>
<div class="background-box-yellow">
    <p>
        <input type="text" id="myInput" onkeyup="filtering(0)" placeholder="Search for details.." title="Type in a name">
        <table id="myTable" class="table-sort table-arrows">
            <thead>
                <tr>
                    <th>Project Details</th>
                    <th>Customer</th>
                    <th>Service Location</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for data in project%}
            <tr>
                <td>{{data.ProjectID}} - {{data.ProjectName}}</td>
                <td>{{data.CustomerID}} - {{data.ContactPerson}}<br>{{data.CompanyName}}</td>
                <td>{{data.Location}}</td>
                <td>{{data.ProjectStatus}}</td>
                <td>
                    <span><a href="/staff/{{info.UserID}}/project/{{data.ProjectID}}/view"><i class='bx bxs-notepad' ></i></a></span> |
                    <span><a href="/staff/{{info.UserID}}/project/{{data.ProjectID}}/edit"><i class='bx bxs-edit-alt' ></i></a></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </p>
</div>
{% endfor %}
{% endblock %}
