{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Customers{% endblock %}
{% block header %}Customers{% endblock %} 
{% block content %}
{% for info in user%}
<div class="buttons">
    <button type="button" onclick="window.location.href='/staff/{{info.UserID}}/addCustomer'">+ Customer</button>
</div>
<div class="background-box-yellow">
    <p>
        <input type="text" id="myInput" onkeyup="filtering(1)" placeholder="Search for names.." title="Type in a name">
        <table id="myTable" class="table-sort table-arrows">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Company Name</th>
                    <th>First Contact Person</th>
                    <th>Billing Address</th>
                    <th>Primary Address</th>
                    <th>Company Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for data in customer%}
            <tr>
                <td>{{data.CustomerID}}</td>
                <td>{{data.CompanyName}}</td>
                <td>{{data.ContactPerson}}<small><br>{{data.PhoneNo}}<br>{{data.Email}}</td></small>
                <td>{{data.BillingAddress}}</td>
                <td>{{data.PrimaryAddress}}</td>
                <td>{{data.CompanyType}}</td>
                <td>
                    <span><a href="/staff/{{info.UserID}}/customer/{{data.CustomerID}}/view"><i class='bx bxs-notepad' ></i></a></span> | 
                    <span><a href="/staff/{{info.UserID}}/customer/{{data.CustomerID}}/edit"><i class='bx bxs-edit-alt' ></i></a></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </p>
</div>
{% endfor %}
{% endblock %}
