{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Edit Activity{% endblock %}
{% block header %}Edit Activity{% endblock %} 
{% block content %}
{% for info in user%}
{% for data in activity%}
<h5>
    <form action="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/edit" method="post">
    <div class="fill-in">
        <div class="background-box-yellow">
            <p>
                <h2>PROJECT DETAILS <br></h2>
                <label for="ProjectID"> Project</label>
                {{data.ProjectID}} - {{data.ProjectName}} - {{data.ProjectStatus}} <span><a href="/staff/{{info.UserID}}/project/{{data.ProjectID}}/view"><i class='bx bxs-notepad' ></i></a></span>
                <input type="hidden" name="ProjectID" value={{data.ProjectID}} />
            </p>
        </div> 
        <div class="background-box-yellow">
            <p>
                <h2>ACTIVITY DETAILS<br></h2>
                    <label for="ActivityName">Activity Name</label>
                    <input type="text" name="ActivityName" required value="{{data.ActivityName}}"/> <br>
                    <label for="ActivityDescription">Description</label>
                    <input type="text" name="ActivityDescription" required value="{{data.ActivityDescription}}"/> <br>
                    <label for="ActivityLocation">Location</label>
                    <input type="text" name="ActivityLocation" required value="{{data.ActivityLocation}}"/> <br>
                    <label for="ActivityStartDate">Start Date</label>
                    <input type="date" name="ActivityStartDate" required value="{{data.ActivityStartDate}}"/> <br>
                    <label for="ActivityEndDate">End Date</label>
                    <input type="date" name="ActivityEndDate" required value="{{data.ActivityEndDate}}"/> <br>
                    <span><a href='/staff/{{info.UserID}}/activity/{{data.ActivityID}}/deleteActivity'><p style="color: red;">Delete Activity</p></a></span>
            </p>
        </div>
        <div class="background-box-yellow">
            <p>
                <h2>ACTIVITY ASSIGN DETAIL<br></h2><br> 
                <div class="buttons">
                    <label for="Add" >+ ASSIGN STAFF</label>
                </div><br> 
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>Staff ID</th>
                            <th>Staff Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                {% for line in ActivityAssign%}
                <tr>
                    <td>{{line.UserID}}</td>
                    <td>{{line.Name}}</td>
                    <td>
                        <span>
                            <div class="buttons">
                                <label for="{{line.UserID}}" ><i class='bx bxs-edit-alt' ></i></label>
                            </div>
                        </span>
                    </td>
                    <td><span><a href='/staff/{{info.UserID}}/activity/{{data.ActivityID}}/delete/{{line.UserID}}'><i class='bx bxs-minus-circle' ></i></a></span></td>
                </tr>
                {% endfor %}
                </table>
            </p>
        </div>
        <input type="submit" value="Submit" /> <br>        
    </div>
    </form>

    <input class="modal-state_cus" id="Add" type="checkbox" />
    <div class="modal_cus">
        <label class="modal__bg_cus" for="Add"></label>
        <div class="modal__inner_cus">
            <label class="modal__close_cus" for="Add"></label>
            <h2>Add Detail Line</h2>
            <div class="background-box-yellow">
                <div class="fill-in">
                    <form action="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/edit/add" method="post">
                        <input type="hidden" name="ActivityID" value={{data.ActivityID}} />
                        <label for="UserID">User ID</label>
                        <select name="UserID" id="UserID">
                            {% for id in otherUser %}
                              <option value="{{id.UserID}}">{{id.UserID}} - {{id.Name}}</option>
                            {% endfor %} 
                          </select><br>
                        <input type="submit" value="Submit" /> <br>
                    </form>
                </div>    
            </div>
        </div>
    </div>

{% for line in ActivityAssign%}
    <input class="modal-state_cus" id="{{line.UserID}}" type="checkbox" />
    <div class="modal_cus">
        <label class="modal__bg_cus" for="{{line.UserID}}"></label>
        <div class="modal__inner_cus">
            <label class="modal__close_cus" for="{{line.UserID}}"></label>
            <h2>Edit Detail Line</h2>
            <div class="background-box-yellow">
                <div class="fill-in">
                    <form action="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/edit/{{line.UserID}}" method="post">
                        <input type="hidden" name="ActivityID" value={{data.ActivityID}} />
                        <label for="UserID">User ID</label>
                        <select name="UserID" id="UserID">
                            {% for id in otherUser %}
                                <option value="{{id.UserID}}">{{id.UserID}} - {{id.Name}}</option>
                            {% endfor %} 
                            <option value="{{line.UserID}}">{{line.UserID}} - {{line.Name}}</option>
                        </select><br>
                        <input type="submit" value="Submit" /> <br>
                    </form>
                </div>    
            </div>
        </div>
    </div>
{% endfor %}
{% endfor %}
{% endfor %}
{% if status == 'Invalid Project Status' %}
The project status is not equal to 'Project Start' or 'Warranty Start'. Cannot edit. 
{% endif %} 
{% if status == 'Invalid Activity Status' %}
The activity status is not equal to 'New' or 'In Progress'. Cannot edit.
{% endif %} 
<br><input type="button" value="Back" onclick="history.back()"> 
</h5>
{% endblock %}
