{% extends "/bootstrap/base.html" %}
{% block title %}U Connect Staff Forgot Password{% endblock %}
{% block header %}Forgot Password{% endblock %}
{% block content %}
			<form class="login100-form validate-form" action="/staff/forgotPassword/email" method="post">
				<div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
					<span class="label-input100">Email</span>
					<input class="input100" type="text" name="Email" placeholder="Enter Email" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Phone Number is required">
					<span class="label-input100">Phone Number</span>
					<input class="input100" type="tel" name="PhoneNo" placeholder="Enter Phone Number" required>
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Submit
					</button>
				</div>
				{% if status == 'sent' %}
				Please check email for your user ID and password. Thank you.
				{% endif %}
				{% if status == 'fail' %}
				Your phone number or email is not correct.
				{% endif %}	
			</form>			
			<div class="container-login100-form-btn">
				<input class="login100-form-btn" type="button" value="Back" onclick="history.back()"> 
			</div>
{% endblock %}