{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Generate Report{% endblock %}
{% block header %}Generate Report{% endblock %} 
{% block content %}
{% for info in user%}
<h5>
    <form action="/staff/{{info.UserID}}/IncomeExpenses/export/download" method="post">
    <div class="fill-in">
        <div class="background-box-yellow">
            <p> 
                <h2>DETAILS<br></h2>
                    <label for="Type">Select Type</label>
                    <select name="Type" id="Type">
                        <option value="Income">Income</option>
                        <option value="Expenses">Expenses</option>
                    </select><br>
                    <label for="fromDate">From</label>
                    <input type="date" name="fromDate" required /> <br>
                    <label for="toDate">To</label>
                    <input type="date" name="toDate" required /> <br>
            </p>
        </div> 
        <input type="submit" value="Submit" /> <br>
        <input type="button" value="Back" onclick="history.back()">         
    </div>
    </form>
</h5>

{% endfor %}
{% endblock %}
