<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='styleForReport.css')}}">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Report</title>
   </head>
<body>
    {% for data in invoice %}
    <h1 align="center">展鴻工程有限公司 <br>
    CHIN HONG ENGINEERING LIMITED <br></h1>
    <h4 align="center">地址:九龍灣金漢工業大廈918室 電話:6385-5720 <br>
    <u>Invoice</u><br></h4>
    <div align="right">Date: {{data.InvoiceDate}}</div>
    Customer ID: {{data.CustomerID}} <br>
    Project ID: {{data.ProjectID}} <br>
    Invoice ID: {{data.InvoiceID}} <br> <br>
    To: {{data.ToField}} <br>
    Attn: {{data.Attn}} <br> <br>
    Project: {{data.ProjectName}} <br> <br>
    <table id="myTable">
        <thead>
            <tr>
                <th> </th>
                <th>Work Description</th>
                <th>Unit Rate (HK$)</th>
                <th>Qty</th>
                <th>Total Amount</th>
            </tr>
        </thead>
    {% for line in invoiceLine%}
    <tr>
        <td>{{line.WorkID}}</td>
        <td>{{line.WorkDescription}}</td>
        <td>{{line.UnitRate}}</td>
        <td>{{line.Quantity}} {{line.Quantifier}}</td>
        <td>{{line.Amount}}</td>
    </tr>
    {% endfor %}
    </table>
    <div align="right"><label for="GrantTotal">Grant Total: </label>$ {{data.GrantTotal}} </div> 
    Account for Payment: {{data.BankAccountNo}} (BEA) <br>
    Remark: {{data.Remarks}} <br> <br> <br>
    If any inquiry, please feel free to contact me at 6385 5720 <br> <br>
    Yours faithfully, <br>
    For and on behald of <br>
    CHIN HONG ENG LTD <br>
    <div align="right">Kenny Cheung</div>
    {% endfor %}
</body>
</html>