{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}Activites{% endblock %}
{% block header %}Activites{% endblock %} 
{% block content %}
{% for info in user%}
<div class="buttons">
    <button type="button" onclick="window.location.href='/staff/{{info.UserID}}/addActivity'">+ Activity</button>
</div>
<div class="background-box-yellow">
    <p>
        <input type="text" id="myInput" onkeyup="filtering(0)" placeholder="Search for activity.." title="Type in a name">
        <table id="myTable" class="table-sort table-arrows">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Project</th>
                    <th>Customer</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for data in activity%}
            <tr>
                <td>{{data.ActivityID}} - {{data.ActivityName}}</td>
                <td>{{data.ProjectID}} - {{data.ProjectName}} <br> {{data.ProjectStatus}}</td>
                <td>{{data.CustomerID}} - {{data.ContactPerson}}<br>{{data.CompanyName}}</td>
                <td>{{data.ActivityLocation}}</td>
                <td>{{data.ActivityStatus}}</td>
                <td>{{data.ActivityStartDate}}</td>
                <td>{{data.ActivityEndDate}}</td>
                <td>
                    <span><a href="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/view"><i class='bx bxs-notepad' ></i></a></span> |
                    <span><a href="/staff/{{info.UserID}}/activity/{{data.ActivityID}}/edit"><i class='bx bxs-edit-alt' ></i></a></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </p>
</div>
{% endfor %}
{% endblock %}