{% if role=='Admin'%}{% extends "/bootstrap/baseStaff.html" %}{% endif %}{% if role=='Normal'%}{% extends "/bootstrap/baseNormal.html" %}{% endif %}{% if role=='Customer'%}{% extends "/bootstrap/baseCustomer.html" %}{% endif %}
{% block title %}View Inventory{% endblock %}
{% block header %}View Inventory{% endblock %} 
{% block content %}
{% for info in user%}
{% for data in inventory%}
<h5>
    <div class="fill-in">
        <div class="background-box-yellow">
            <p>
                <h2>INVENTORY DETAILS<br></h2>
                    <label for="InventoryID">Inventory ID</label>
                    {{data.InventoryID}}<br>
                    <label for="InventoryName">Inventory Name</label>
                    {{data.InventoryName}} <br>
                    <label for="Description">Description</label>
                    {{data.Description}} <br>
                    <label for="Stock">Stock</label>
                    {{data.Stock}}<br>
                    <label for="Attachment">Document</label>
                    {{data.Attachment}} 
                    <a href="https://fionafypstorageaccount.blob.core.windows.net/inventory/{{data.Attachment}}" target="_blank"><i class='bx bxs-download' ></i></a>
                    <!--<a href="/staff/{{info.UserID}}/inventory/{{data.InventoryID}}/download" target="_blank"><i class='bx bxs-download' ></i></a>
                    -->
            </p>
        </div>

        <div class="background-box-yellow">
            <p>
                <h2>ADD STOCK RECORD<br></h2><br> 
                <div class="buttons">
                    <label for="Add" >+ Add Stock</label>
                </div><br> 
                <table id="myTable">
                    <thead> 
                        <tr>
                            <th>Add ID</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                            <th>Remarks</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                {% for line in addStockLine%}
                    <tr>
                        <td>{{line.AddID}}</td>
                        <td>{{line.Date}}</td>
                        <td>{{line.Quantity}}</td>
                        <td>{{line.UnitPrice}}</td>
                        <td>{{line.TotalPrice}}</td>
                        <td>{{line.Remarks}}</td>
                        <td>
                            <span>
                                <div class="buttons">
                                    <label for="Add:{{line.AddID}}" ><i class='bx bxs-edit-alt' ></i></label>
                                </div>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </p>
        </div>

        <div class="background-box-yellow">
            <p>
                <h2>USAGE RECORD<br></h2><br> 
                <div class="buttons">
                    <label for="ABC" >+ Add Usage Record</label>
                </div><br> 
                <table id="myTable">
                    <thead> 
                        <tr>
                            <th>Usage ID</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Remarks</th>
                            <th>Project ID</th>
                            <th>Updated By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for line in usageLine%} 
                        <tr>
                            <td>{{line.UsageID}}</td>
                            <td>{{line.Date}}</td>
                            <td>{{line.Quantity}}</td>
                            <td>{{line.Remarks}}</td>
                            <td>{{line.ProjectID}}</td>
                            <td>{{line.UpdatedBy}}</td>
                            <td>
                                <span>
                                    <div class="buttons">
                                        <label for="Usage:{{line.UsageID}}" ><i class='bx bxs-edit-alt' ></i></label>
                                    </div>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </p>
        </div>
        <input type="button" value="Back" onclick="history.back()">     
        {% if status == 'Invalid Project Status' %}
    The project status is not equal to 'Pending for Quotation' or 'Quotation Pending for Confirmation'. Cannot edit. 
    {% endif %} 
    </div>

    <input class="modal-state_cus" id="Add" type="checkbox" />
    <div class="modal_cus">
        <label class="modal__bg_cus" for="Add"></label>
        <div class="modal__inner_cus">
            <label class="modal__close_cus" for="Add"></label>
            <h2>Add Stock</h2>
            <div class="background-box-yellow">
                <div class="fill-in">
                    <form action="/staff/{{info.UserID}}/inventory/{{data.InventoryID}}/view/addStock/add" method="post">
                        <input type="hidden" name="InventoryID" value={{data.InventoryID}} />
                        <label for="Date">Date</label>
                        <input type="date" name="Date" required /> <br>
                        <label for="Quantity">Quantity</label>
                        <input type="number" name="Quantity" required /> <br>
                        <label for="UnitPrice">Unit Price</label>
                        <input type="number" name="UnitPrice" step='0.01' required /> <br>
                        <label for="Remarks">Remarks</label>
                        <input type="text" name="Remarks" required /> <br>
                        <input type="submit" value="Submit" /> <br>
                    </form>
                </div>    
            </div>
        </div>
    </div>

    {% for line in addStockLine%}
    <input class="modal-state_cus" id="Add:{{line.AddID}}" type="checkbox" />
    <div class="modal_cus">
        <label class="modal__bg_cus" for="Add:{{line.AddID}}"></label>
        <div class="modal__inner_cus">
            <label class="modal__close_cus" for="Add:{{line.AddID}}"></label>
            <h2>Edit Detail Line</h2>
            <div class="background-box-yellow">
                <div class="fill-in">
                    <form action="/staff/{{info.UserID}}/inventory/{{data.InventoryID}}/view/addStock/{{line.AddID}}" method="post">
                        <input type="hidden" name="InventoryID" value={{data.InventoryID}} />
                        <input type="hidden" name="OldQuantity" required value={{line.Quantity}} /> 
                        <label for="WorkID">Add ID</label>
                        {{line.AddID}} <br>
                        <label for="Date">Date</label>
                        <input type="date" name="Date" required value={{line.Date}} /> <br>
                        <label for="Quantity">Quantity</label>
                        <input type="number" name="Quantity" required value={{line.Quantity}} /> <br>
                        <label for="UnitPrice">Unit Price</label>
                        <input type="number" name="UnitPrice" step='0.01' required value={{line.UnitPrice}} /> <br>
                        <label for="Remarks">Remarks</label>
                        <input type="text" name="Remarks" required value={{line.Remarks}} /> <br>
                        <input type="submit" value="Submit" /> <br>
                    </form>
                </div>    
            </div>
        </div>
    </div>
    {% endfor %}

    <input class="modal-state_cus" id="ABC" type="checkbox" />
    <div class="modal_cus">
        <label class="modal__bg_cus" for="ABC"></label>
        <div class="modal__inner_cus">
            <label class="modal__close_cus" for="ABC"></label>
            <h2>Add Usage Line</h2>
            <div class="background-box-yellow">
                <div class="fill-in">
                    <form action="/staff/{{info.UserID}}/inventory/{{data.InventoryID}}/view/usageManagement/add" method="post">
                        <input type="hidden" name="InventoryID" value={{data.InventoryID}} />
                        <label for="Date">Date</label>
                        <input type="date" name="Date" required /> <br>
                        <label for="Quantity">Quantity</label>
                        <input type="number" name="Quantity" required /> <br>
                        <label for="Remarks">Remarks</label>
                        <input type="text" name="Remarks" required /> <br>
                        <label for="ProjectID">Select Project</label>
                        <select name="ProjectID" id="ProjectID">
                            {% for id in project %}
                            <option value="{{id.ProjectID}}">{{id.ProjectID}} - {{id.ProjectName}}</option>
                            {% endfor %}
                        </select><br>
                        <input type="submit" value="Submit" /> <br>
                    </form>
                </div>    
            </div>
        </div>
    </div>

    {% for line in usageLine %} 
    <input class="modal-state_cus" id="Usage:{{line.UsageID}}" type="checkbox" />
    <div class="modal_cus">
        <label class="modal__bg_cus" for="Usage:{{line.UsageID}}"></label>
        <div class="modal__inner_cus">
            <label class="modal__close_cus" for="Usage:{{line.UsageID}}"></label>
            <h2>Edit Detail Line</h2>
            <div class="background-box-yellow">
                <div class="fill-in">
                    <form action="/staff/{{info.UserID}}/inventory/{{data.InventoryID}}/view/usageManagement/{{line.UsageID}}" method="post">
                        <input type="hidden" name="InventoryID" value={{data.InventoryID}} />
                        <input type="hidden" name="OldQuantity" required value={{line.Quantity}} /> 
                        <label for="WorkID">Add ID</label>
                        {{line.UsageID}} <br>
                        <label for="Date">Date</label>
                        <input type="date" name="Date" required value={{line.Date}} /> <br>
                        <label for="Quantity">Quantity</label>
                        <input type="number" name="Quantity" required value={{line.Quantity}} /> <br>
                        <label for="Remarks">Remarks</label>
                        <input type="text" name="Remarks" required value={{line.Remarks}} /> <br>
                        <label for="ProjectID">Select Project</label>
                        <select name="ProjectID" id="ProjectID" value="{{line.ProjectID}}">
                            {% for id in project %}
                            <option value="{{id.ProjectID}}">{{id.ProjectID}} - {{id.ProjectName}}</option>
                        {% endfor %}
                        </select><br>
                        <input type="submit" value="Submit" /> <br>
                    </form>
                </div>    
            </div>
        </div>
    </div>
    {% endfor %}
</h5>
{% endfor %}
{% endfor %}
{% endblock %}
